body {
    font-family: Arial, Verdana, sans-serif;
    margin: 0;
    background-color: #f7f7f7;
}

header {
    font-size: 1em;
}

input {
    display: block;
}

nav {
    position: fixed;	
    width: 100%;
    font-size: 1.5em;
    background: #2c3e50;
    top: 0;
    display: block;
    z-index: 99;
    text-align: center;
    font-weight: 700;
}

nav ul li {
    display: inline;
    text-decoration: none;
    padding: 0px 10px;
}

nav ul li a {
    color: #ecf0f1;
}

nav ul li a:hover {
    text-decoration: none;
    opacity: 0.7;
    color: #ecf0f1;
}

#products-list {
    margin-top: 80px;
}