body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: #f7f7f7;
}

header {
    font-size: 1em;
}

input {
    display: block;
}

nav {
    position: absolute;	
    width: 100%;
    font-size: 1.5em;
    background: #34495e;
    top: 0;
    display: block;
    z-index: 99;
    text-align: center;
    font-weight: 700;
}

nav ul li {
    display: inline;
    text-decoration: none;
    padding: 0px 10px;
}

nav ul li a,
nav ul li a:hover {
    color: #ecf0f1;
}

nav ul li a:hover {
    text-decoration: none;
    opacity: 0.7;
}

#main {
    margin-top: 80px;
}

.closed-container {
    width: 40%;
    margin: 0 auto;
    background: #e7e7e7;
    padding: 25px;
    border-radius: 7px;
}

.container-header {
    text-align: center;
}

.caption p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#cart-header {
    text-align: center;
    font-size: 1.25em;
}

#cart-remove {
    font-size: 25px;
}

#cart-remove:hover {
    text-decoration: none;
}

.alert {
    text-align: center;
}